<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit.
        </h2>
    </header>
    <div class="post__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum debitis blanditiis delectus minima ex vitae ullam tempore molestias qui omnis. Numquam nam perferendis quo ea doloribus itaque, nihil eligendi optio architecto est iusto ipsam. Nemo rerum illum pariatur quasi sapiente, id, animi quam tempore similique maxime incidunt, a libero rem./div>
</article>